body {
    margin-top: 0;
    padding: 20px 50px 0px 50px;
    background-color: rgb(221, 221, 221);
    font-family: sans-serif;
}
.nav-bar {
    width: 120px;
    height: 800px;
    background-color: slategray;
    float: left;
    margin-right: 3%;
    border-radius: 20px 3px;
    padding: 15px 30px 0px 30px;
    font-size: 25px;
}
.menu {
    text-decoration: none;
    color: snow;
}

footer {
    float: right;
    padding-right: 35%;
}
